/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions for color */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 30px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for container */
}

.content {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s ease; /* Transition for heading */
}

p {
    font-size: 1.1em;
    color: #555;
    transition: color 0.3s ease; /* Transition for paragraph */
}

/* JSON container styles */
.json-display-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.json-container {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition for JSON container */
}

pre {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 300px;
    overflow-y: auto;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition for JSON content */
}

/* Dark Mode */
body.dark-mode {
    background-color: #2c2c2c;
    color: #fff;
}

body.dark-mode .container {
    background-color: #333;
    color: #fff;
}

body.dark-mode h1, body.dark-mode p {
    color: #ddd;
}

body.dark-mode .json-container {
    background-color: #444;
    color: #fff;
}

body.dark-mode .json-container pre {
    background-color: #333;
    color: #fff;
}

/* Dark Mode toggle button */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode .dark-mode-toggle {
    color: #fff;
    border-color: #fff;
}

.container img {
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 0;
}
