<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpy Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>What is a "Helpy?"</h1>
            <p>
                In all my Minecraft worlds that use ComputerCraft/CC:Tweaked, I have a turtle (robot) named "Helpy." It's always a pink turtle with
                a name of "Helpy," and it generally just helps out. I'm making this web server that all the Helpys will connect to so I can see
                the state of all of them.
            </p>
        </div>
        <img src="{{ url_for('static', filename='images/helpy.jpg') }}" alt="Image of Helpy in a grass field">
    </div>

    <button class="dark-mode-toggle" onclick="toggleDarkMode()">🌙</button>

    <div class="json-display-container">
        <div class="json-container">
            <!-- Helpys Cards Container -->
            <div class="helpy-cards-container" id="helpyCardsContainer">
                <!-- Cards will be generated here dynamically -->
            </div>
        </div>
    </div>
</body>
</html>
